POSTGRES_USER='seu usuario'
POSTGRES_PASSWORD='sua senha'
POSTGRES_DB='seu db'
PG_HOST=database
REDIS_HOST=redis
REDIS_PASSWORD="sua senha"
VITE_API_URL=/api
JWT_SECRET='seu secret em base 64'
JWT_ALGORITHM='HS256'
GEMINI_API_KEY='sua chave do gemini'
CLOUDINARY_API_KEY='sua chave da api'
CLOUDINARY_API_SECRET='seu api secret'
CLOUDINARY_NAME='seu cloudinary name'